{% extends "index.html" %}
{% block content %}

<br>
<h2>Add Reservation</h2>
<p class="text-muted">Fill this form to create a new reservation entry.</p>
<form method="POST" action="{{ url_for('add_reservation') }}">
	{{ form.csrf_token }}
	<div class="form-group">
		<label for="formControlInput1">{{ form.user_id.label }}</label>
		<div class="form-control" id="formControlInput1">
		{{ form.user_id(size=20) }}
		</div>
	</div>
	<div class="form-group">
		<label for="formControlInput2">{{ form.room.label }}</label>
		<div class="form-control" id="formControlInput2">
		{{ form.room(size=7) }}
		</div>
		</div>
		<div class="form-group">
		<label for="formControlInput3">{{ form.services.label }} (multiselect with Ctrl)</label>
		<div class="form-control" id="formControlInput3">
		{{ form.services(size=7) }}
		</div>
	</div>
	<div class="form-group">
		<label for="formControlInput4">{{ form.start_date.label }} (format: 2018-01-25 10:30:45)</label>
		<div class="form-control" id="formControlInput4">
		{{ form.start_date(size=20) }}
		</div>
	</div>
	<div class="form-group">
		<label for="formControlInput5">{{ form.end_date.label }} (format: 2018-01-25 10:30:45)</label>
		<div class="form-control" id="formControlInput5">
		{{ form.end_date(size=20) }}
		</div>
	</div>
	<div class="form-group">
		<label for="formControlInput6">{{ form.description.label }}</label>
		<div class="form-control" id="formControlInput6">
		{{ form.description(size=100) }}
		</div>
	</div>
	<button class="btn btn-primary" type="submit">Submit</button>
</form>

{% endblock %}