{% extends "index.html" %}
{% block content %}

<div>
  <form method="POST" action="{{ url_for('add_reservation') }}">
    {{ form.csrf_token }}
    <ul>
      <li>{{ form.user_id.label }} {{ form.user_id(size=20) }}</li>
      <li>{{ form.room.label }} {{ form.room(size=7) }}</li>
      <li>{{ form.services.label }} {{ form.services(size=7) }}</li>
      <li>{{ form.start_date.label }} {{ form.start_date(size=20) }} Format: 2018-01-25 10:30:45</li>
      <li>{{ form.end_date.label }} {{ form.end_date(size=20) }} Format: 2018-01-25 10:30:45</li>
      <li>{{ form.description.label }} {{ form.description(size=100) }}</li>
    </ul>

    <input type="submit" value="Submit!">
  </form>
</div>
{% endblock %}