{% extends "index.html" %}
{% block content %}

<br>
<h2>Reservation Info</h2>
<table class="table table-hover">
	<thead>
	  <tr>
		<th>Date</th>
		<th>Start Date</th>
		<th>End Date</th>
		<th>Description</th>
		<th>Room</th>
		<th>User</th>
	  </tr>
	</thead>
	<tbody>
	<tr>
		<td>{{ reservation.DataRezerwacji }}</td>
		<td>{{ reservation.DataRozpoczecia }}</td>
		<td>{{ reservation.DataZakonczenia }}</td>
		<td>{{ reservation.OpisRezerwacji }}</td>
		<td><a href="{{ url_for('room_details', pk=reservation.sale.IdSali) }}">{{ reservation.sale.Nazwa }}</a></td>
		<td>{{ reservation.IdUzytkownika }}</td>
	</tr>
	</tbody>
</table>

<br>
<h2>Ordered Servics</h2>
<table class="table table-hover">
	<thead>
	  <tr>
		<th>Quantity</th>
		<th>Name</th>
		<th>Type</th>
		<th>Price</th>
		<th>Description</th>
	  </tr>
	</thead>
	<tbody>
	{% for detail in reservation.rezerwacjeszczegoly_collection %}
	<tr>
		<td>{{ detail.Ilosc }}</td>
		<td>{{ detail.uslugi.Nazwa }}</td>
		<td>{{ detail.uslugi.Typ }}</td>
		<td>{{ detail.uslugi.CenaWykorzystania }}</td>
		<td>{{ detail.uslugi.OpisUslugi }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}